#heading{
    color:blue;
    background-color: yellow;
}
#heading2{
    color:blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color: white;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color:rgb(139, 210, 199) ;
    text-align: center;


}